[user]
showPreviews=true
showWindowCount=false
forceIconSize=true
iconSize=48
indicatorOrientation=1
indicatorStyle=1
inactiveIndicatorStyle=1
indicatorColorFromTheme=false
indicatorColor=rgb(55,55,60)
inactiveIndicatorColor=rgb(110,110,115)
pinned=macdesk-nautilus;20-firefox;80-lineaindividual;onlyoffice-desktopeditors;40-terminal;
previewScale=0.125
previewSleep=750
keyComboActive=false
keyAloneActive=false
onlyCurrentWorkspace=false
onlyCurrentMonitor=false
