<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:icon="@drawable/macdesk_happy_mac"
        android:label="@string/lorie_app_name"
        android:roundIcon="@drawable/macdesk_happy_mac"
        android:supportsRtl="true"
        android:theme="@style/LorieAppTheme"
        android:hardwareAccelerated="true"
        android:resizeableActivity="true">
        <meta-data android:name="com.samsung.android.multidisplay.keep_process_alive" android:value="false" />
            <meta-data
            android:name="com.samsung.android.dex.launchwidth"
            android:value="0" />
        <meta-data
            android:name="com.samsung.android.dex.launchheight"
            android:value="0" />
    </application>
</manifest>
