[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
GenericName=Web Browser
Exec=/usr/bin/firefox-esr %U
Icon=firefox-esr
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
