[Desktop Entry]
Type=Application
Name=Chromium
Icon=chromium
Exec=/root/MacDesk-V6/scripts/launch-chromium
StartupWMClass=chromium
Terminal=false
NoDisplay=true
