[Desktop Entry]
Type=Application
Name=Google Sheets
Comment=Google Sheets standalone
Icon=/root/MacDesk-V6/assets/icons-clean/WhiteSur-MacDesk/apps/scalable/google-sheets.svg
Exec=/root/MacDesk-V6/scripts/launch-google-sheets
StartupWMClass=MacDeskGoogleSheets
Terminal=false
NoDisplay=true
Categories=Office;Spreadsheet;
