[Desktop Entry]
Type=Application
Name=WPS Presentation
Comment=Presentations with WPS Office
Icon=macdesk-wps-presentation
Exec=/root/MacDesk-V6/scripts/launch-wps presentation %F
TryExec=/root/MacDesk-V6/scripts/launch-wps
StartupWMClass=wpp
Terminal=false
NoDisplay=false
Categories=Office;Presentation;
MimeType=application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;
